.u-section-1 .u-sheet-1 {
  min-height: 1268px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  font-size: 1rem;
  margin-top: 20px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: 20px auto 0 516px;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  font-size: 1rem;
  margin: 10px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 425px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 425px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 425px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 425px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 425px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 425px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1332px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 326px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 51px;
    margin-left: auto;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 30px;
    margin-left: 0;
    margin-bottom: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1345px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 245px;
  }

  .u-section-1 .u-text-10 {
    margin-bottom: -13px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1419px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -16px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 1px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.875rem;
    margin-top: 16px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
    margin-top: 16px;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
    margin-top: 25px;
  }

  .u-section-1 .u-text-10 {
    font-size: 0.875rem;
    margin-top: 20px;
    margin-bottom: 49px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 244px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  width: 803px;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 9px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    width: 803px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    font-style: normal;
    margin-bottom: 20px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 244px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  width: 803px;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 9px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    width: 803px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    font-style: normal;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 244px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  width: 803px;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 9px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    width: 803px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    font-style: normal;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 244px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  width: 803px;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 9px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    width: 803px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
    font-style: normal;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 244px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  width: 803px;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 9px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    width: 803px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: 720px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
    font-style: normal;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 244px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  width: 803px;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 9px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    width: 803px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    width: 720px;
  }

  .u-section-7 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
    font-style: normal;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 244px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  width: 803px;
  font-weight: 400;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
    margin-bottom: 60px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 244px;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  width: 803px;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-9 .u-text-2 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 9px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-2 {
    width: 803px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    width: 720px;
  }

  .u-section-9 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    width: 540px;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 174px;
  }

  .u-section-9 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
    font-style: normal;
    margin-bottom: 45px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 429px;
}

.u-section-10 .u-text-1 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-10 .u-text-2 {
  font-size: 0.875rem;
  font-style: normal;
  margin: 9px 0 0;
}

.u-section-10 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-10 .u-text-4 {
  font-weight: 400;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-10 .u-text-5 {
  background-image: none;
  text-shadow: 0px -2px 8px rgba(128,128,128,1);
  margin: 20px 0 60px;
}

.u-section-10 .u-btn-1 {
  background-image: none;
}

.u-section-10 .u-icon-1 {
  font-size: 1.25em;
  vertical-align: 0px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    width: 340px;
  }

  .u-section-10 .u-text-2 {
    width: 803px;
  }

  .u-section-10 .u-text-4 {
    margin-top: 91px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    width: auto;
  }

  .u-section-10 .u-text-2 {
    width: 720px;
  }

  .u-section-10 .u-text-3 {
    width: auto;
  }

  .u-section-10 .u-text-4 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-10 .u-text-2 {
    width: 340px;
  }

  .u-section-10 .u-text-3 {
    font-weight: 400;
    margin-top: 39px;
  }

  .u-section-10 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 9px;
  }

  .u-section-10 .u-text-5 {
    width: 170px;
    margin: 24px auto 50px;
  }

  .u-section-10 .u-btn-1 {
    padding: 0;
  }
} .u-section-11 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/WhatsAppImage2025-05-10at6.50.42AM.jpeg');
  background-position: 50% 50%, 50% 17.7%;
  background-size: cover, cover;
}

.u-section-11 .u-sheet-1 {
  min-height: 731px;
}

.u-section-11 .u-group-1 {
  min-height: 628px;
  margin-top: 30px;
  margin-bottom: 60px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-11 .u-container-layout-1 {
  padding: 0;
}

.u-section-11 .u-text-1 {
  margin: 0 10px;
}

.u-section-11 .u-text-2 {
  letter-spacing: 1px;
  font-size: 1rem;
  width: auto;
  margin: 282px 0 0;
}

.u-section-11 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  width: 74px;
  min-width: 42px;
  min-height: 16px;
  margin: 18px auto 0 0;
}

.u-section-11 .u-icon-1 {
  height: 100%;
}

.u-section-11 .u-icon-2 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-11 .u-group-1 {
    width: 419px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-11 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 546px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 410px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-11 .u-group-1 {
    min-height: 769px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-11 .u-text-1 {
    margin-top: 46px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-11 .u-text-2 {
    margin-top: 166px;
  }

  .u-section-11 .u-social-icons-1 {
    margin-top: 17px;
  }
}